input[type='search'] {
    width: 300px;
}

.searchResults,
.baconResult,
.baconError {
    margin-top: 20px;
}

.broken {
    font-weight: bold;
    font-size: 1.1em;
    margin-top: 5px;
}

.searchResult {
    cursor: pointer;
    color: #428bca;
    text-decoration: none;
}

.searchResult:hover,
.searchResult:focus {
    color: #2a6496;
    text-decoration: underline;
}

.searchResult:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.baconNumber {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 10px;
}

.film {
    font-style: italic;
}

.actor {
    font-weight: bold;
}